@charset "UTF-8";
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0;
  background-color: #f5f5f5;
}

.form-div {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .form-div {
    width: 100%;
    background: scroll url("../../img/signin6-16.svg") center center no-repeat;
    background-size: cover;
  }
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.btn-block {
  float: left;
}

.form-signin .checkbox {
  font-weight: 400;
  text-align: left;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 12px 18px;
  font-size: 18px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin: 25px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 28px;
}

.form-signin .password-input {
  margin-bottom: 35px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 28px;
}

.img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  padding: 15px;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: scroll url("../../img/signin5svg_Монтажная область 1 копия 15_Монтажная область 1 копия 15.svg") center center no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .img-div {
    display: none;
  }
}

.btn-lg {
  border-radius: 3.3rem !important;
  margin-bottom: 3rem;
}

.btn-regis {
  margin-bottom: 30px;
  color: #007bff !important;
  font-size: 18px;
  font-weight: 600;
}

.btn-regis:hover {
  color: #4fa2fa !important;
  text-decoration: none;
}

.password-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.fa-eye, .fa-eye-slash {
  float: right;
  margin-left: -43px;
  margin-top: 18px;
  position: relative;
  color: #82929a;
  z-index: 2;
}

.fa-eye:hover, .fa-eye-slash:hover {
  color: #747d81;
}

.invalid-tooltip {
  top: 70% !important;
}

.confirm-password, .confirm-password2 {
  position: absolute;
  top: 100%;
  display: none;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: .25rem;
  /*@media (min-width: 1000px) 
    top: 86% !important;
    left: 0% !important;
  }*/
}

.confirm-password {
  left: 24% !important;
  z-index: 4;
}

.confirm-password2 {
  top: 86% !important;
  left: 0% !important;
  z-index: 5;
}

.my-form-control {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.my-form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.my-form-control2 {
  border-color: #28a745 !important;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
/*# sourceMappingURL=signin.css.map */