html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  background-color: #f5f5f5;
}

.form-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 1000px) {
    width: 100%;
    background: scroll url("../../img/signin6-16.svg") center center no-repeat;
    background-size: cover;    
  }
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.btn-block {
  float: left;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 12px 18px;
  font-size: 18px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin: 25px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 28px;
}

.btn-lg {
  border-radius: 3.3rem !important;
  margin-bottom: 3rem;
}

.btn-regis {
  margin-bottom: 30px;
  color: #007bff !important;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    color: #4fa2fa !important;
    text-decoration: none;
  }
}

